/**
* This is for base/globally applied styles
*/

/* basic styles 
body {
    background: $color-white;
    font-family: $font-body-main;
    color: $color-text;
    font-size: 0.875rem;
    line-height: 1.25;
}
a {
    color: $color-primary;
    &:hover {
        color: lighten($color-primary,5%);
    }
}
*/