/**
 * Here we define the color variables that are used globally
 */

/* grayscale colors 
$color-black:                #000000;
$color-dark-dark-grey:       #1A1A1A;
$color-dark-grey:            #444444;
$color-medium-gray:          #808080;
$color-light-gray:           #AAAAAA;
$color-almost-white:         #EEEEEE;
$color-white:                #FFFFFF;
*/

/* theme colors 
$color-text:                #3D3D3D;
$color-primary:             #1E83EF;
$color-secondary:           #8CA9CD;
$color-info:                #1A75CF;
$color-warn:                #FCA500;
$color-success:             #88C242;
$color-error:               #F00;
$color-meta:                #8B8B8B;
*/